<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <servers>
    <!-- Auth for deploying to releases repo -->
    <server>
      <id>maven-appcode-releases</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>

    <!-- Auth for pulling from JFrog-hosted mirror of Maven Central -->
    <server>
      <id>maven-central</id>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>maven-central</id>
      <name>JFrog Maven Central Mirror</name>
      <url>https://artifactory.stage.0658b-techopscore.com/artifactory/maven-central</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>

</settings>
